.hero-image-container{
    position: relative;
}

.hero-image{
    position: relative;
}

.logo-hero{
    width: 200px;
    height: 50px;
}

.logo-container{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffffff91;
    border: solid 1px #e0e0e0;
    padding: 8px 16px;
    border-radius: 12px;
}

